name: Loan API Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - run: npm install
      - run: npm run start:api &

      - run: |
          npm install -g newman
          newman run postman/Loan_Management.postman_collection.json \
          -e postman/Loan_Env.postman_environment.json
